# PHP
alias hostfile="sudo vi /etc/hosts"
alias nah='git reset --hard;git clean -df'
alias sshconfig="vim ~/.ssh/config"
alias copykey='command cat ~/.ssh/id_rsa.public | pbcopy'

# PhpStorm
alias phpstorm='open -a /Applications/PhpStorm.app "`pwd`"'

# Fast open
alias o="open ."

# List all files colorized in long format
alias l="ls -laF"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# IP addresses
alias ip="curl https://diagnostic.opendns.com/myip ; echo"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Lock the screen
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Scape webpage
alias scrape="scrapeUrl"

# Habit from Ubuntu
alias ll="ls -lah"
